<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{css}}/style.css" type="text/css"/>
    <title>
      诗语
    </title>
  </head>
  <body>
    <div class="right">
      <!--TODO 竖排诗-->

      <div id="poem">
        <p>春過ぎて</p>
        <p>夏きにけらし</p>
        <p>白妙の</p>
        <p>衣ほすてふ</p>
        <p>天の香久山</p>
      </div>


    </div>
    <div class="left">
      <div id="poemArt">
        <img src="{{img}}/haru.jpg" width="70%" alt=""/>
      </div>
    </div>
  </body>
</html>
