.left{
  width: 50%;
  height: 200px;
  float: left;
}
#poemArt{
  width: 100%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 30%;
}


.right{
  width: 50%;
  height: 300px;
  float: right;
}

 #poem{
  position: absolute;
  top:0;
  bottom:0;
  right:10%;
  margin:auto;
  width:50%;
  height:500px;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  padding-top:40px;
  font-size:30px;
}

#poem #poem_author{
  position: relative;
  top: 30%;
}


.but{
  background-color: #4CAF50; /* Green */
  border: none;
  border-radius: 15px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}

.left{
  width: 50%;
  height: 300px;
  float: right;
}

#p-keyword{
  height:80px;
  width:auto;
  border-style:solid;
  border-width: 2px;

}
#p-text{
  height:150px;
  width:auto;
  border-style:solid;
  border-width: 2px;
}
#p-class{
  height:100px;
  width:auto;
  border-style:solid;
  border-width: 2px;
}
