.left{
  width: 50%;
  height: 200px;
  float: left;
}
#poemArt{
  width: 100%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 30%;
}


.right{
  width: 50%;
  height: 300px;
  float: right;
}

 #poem{
  position: absolute;
  top:0;
  bottom:0;
  right:10%;
  margin:auto;
  width:50%;
  height:500px;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  padding-top:40px;
  font-size:30px;
}

#poem #poem_author{
  position: relative;
  top: 30%;
}


.but{
  font-size: 13px;
}
