.left{
  width: 50%;
  height: 200px;
  float: left;
}
#poemArt{
  width: 100%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 30%;
}


.right{
  width: 50%;
  height: 200px;
  float: right;
}

#poem{
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
  width:900px;
  height:200px;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  padding-top:40px;
  font-size:30px;

}
